@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei NovaGate</h1>
    <p>Ihr sicherer Passwort-Manager.</p>
    <a class="btn btn-primary" href="/Account/Login">Anmelden</a>
    <a class="btn btn-secondary" href="/Account/Register">Registrieren</a>
</div>